mixin accordionPanel(panelId, displayName)
	input(id=panelId type="checkbox" name=panelId)
	label(for=panelId)= displayName

mixin accordionHeader(displayName)
	h2.accordion__header= displayName

mixin linkItem(displayName)
	li.navigation__link.navigation__link--mobile
		a(target='')=displayName

div.mobileMenu(data-mobileMenu="panel")
	a.menuClose(data-mobileMenu="close")
		i.fa.fa-times
	div.accordion
		div
			+accordionPanel('panel-1', 'Books')
				+accordionHeader('Popular in Books')
				ul.navigation__link--list
					+linkItem('Bargain Books')
					+linkItem('Best Books of the Month')
					+linkItem('Children\'s Books')
					+linkItem('Deals in Books')
					+linkItem('Top Ten on NY Times')

				+accordionHeader('More in Books')
				ul.navigation__link--list
					+linkItem('100 Books to Read in a Lifetime')
					+linkItem('100 Books for a Lifetime of Eating & Drinking')
					+linkItem('Amazon Book Review Blog')
					+linkItem('Amazon Books on Facebook')
					+linkItem('Amazon Books on Twitter')

				+accordionHeader('Text Books')
				ul.navigation__link--list
					+linkItem('Textbooks Store')
					+linkItem('Textbook Rentals')
					+linkItem('Sell Us Your Books')
					+linkItem('Kindle eTextbooks')
		div
			+accordionPanel('panel-2', 'Authors')
			div.accordion__content.accordion__content--mobile
				+accordionHeader('Arts')
				ul.navigation__link--list
					+linkItem('Architecture')
					+linkItem('Business of Art')
					+linkItem('Decorative Arts & Design')
					+linkItem('Drawing')
					+linkItem('Collections, Catalogs & Exhibitions')
					+linkItem('Graphic Desig')
					+linkItem('Individual Artists')

				+accordionHeader('Photography')
				ul.navigation__link--list
					+linkItem('Photography & Video')
					+linkItem('History & Criticism')
					+linkItem('Sculpture')
					+linkItem('Study & Teaching')
		div
			+accordionPanel('panel-3', 'Book Clubs')
			div.accordion__content.accordion__content--mobile
				+accordionHeader('Business & Money')
				ul.navigation__link--list
					+linkItem('Great Business Sagas')
					+linkItem('Global Economics')
					+linkItem('New & Notable')
					+linkItem('Debut Authors')
					+linkItem('Kindle Books')

				+accordionHeader('Featured in Business Books')
				ul.navigation__link--list
					+linkItem('Books Home')
					+linkItem('Kindle MatchBook')
					+linkItem('Best Books of 2015')
					+linkItem('Book Awards')
					+linkItem('Deals in Books')

				+accordionHeader('Featured Brands')
				ul.navigation__link--list
					+linkItem('Harvard Business Review Press')
					+linkItem('Wiley')
					+linkItem('Mcgraw-Hill')

		div
			+accordionPanel('panel-4', 'Children Books')
			div.accordion__content.accordion__content--mobile

				+accordionHeader('By Category')
					ul.navigation__link--list
						+linkItem('Baby-2 Years Ol')
						+linkItem('Ages 3-5 Years Old')
						+linkItem('Ages 6-8 Years Old')
						+linkItem('Ages 9-12 Years Old')
						+linkItem('Teen & Young Adult')
						+linkItem('K-12 Teachers')

				+accordionHeader('Featured in Children\'s Books')
					ul.navigation__link--list
						+linkItem('100 Children\'s Books to Read in a Lifetime')
						+linkItem('Award Winning Books')
						+linkItem('Best Books of the Month')
						+linkItem('Best Sellers')
						+linkItem('Personalized Books')
						+linkItem('Kindle Children\'s Books')
