extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

mixin paletteBlockBuilder ()
	for website in websites
		div.siteBlock
			h2.siteName= website.siteName
			a.siteLink(href='http://' + website.siteLink)= website.siteLink
			div.l-paletteBlockContainer.paletteBlockContainer
				for block in website.colorPaletteBlocks
					div.l-paletteBlock.paletteBlock
						div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')
							div= block.paletteInfo.colorValue
						div.paletteBlock__info
							div= block.paletteInfo.colorName
							div= block.paletteInfo.varName
						ul.paletteBlock__usage
							for uage in block.colorUage
								li= uage

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer
					div.imageFrame
						img(alt='img' src='./images/site-logo.png').imageResponsive
					//- h4.title Great Books
				div.l-toggleMenuContainer.toggleMenuContainer
					a(href='#').js-toggleMobileMenu
						i.fa.fa-bars.fa-2x

			div.l-menuWrapper.menuWrapper.js-menuWrapper
				div.l-menuContainer.menuContainer.js-mobileMenuContainer
					ul.menuList
						+menuItems('Home')
						li.menuItem
							a(href='#').currentSelection
								span Color Palette
						+menuItems('Typography', 'Text Styles', 'Breakpoints', 'Buttons')

				div.l-searchContainer.searchContainer.js-showSearchPanel
					a.searchButton.searchButton--default
						i.fa.fa-search
				div.l-searchWrapper.searchWrapper.js-searchPanel
					form(action="#" method='post').l-searchWrapper__form
						a.searchButton.searchButton--whiteSquare
							i.fa.fa-search
						input(type="text" name="s" placeholder="Enter your search").searchInput
						a.closeButton.closeButton--dimmedSquare.js-hideSearchPanel
							i.fa.fa-close

		div.l-pageContentWrapper.pageContentWrapper
			.l-contentContainer.contentContainer.contentContainer--discographyContent
				.headerPanel
					h1 Songs of Innocence
					h2 13 October, 2014

				.discographyImage
					.imagePanel
						.imageFrame
							a(href="#").imageFrame__inner
								.imageFrame__mask
									img(alt='img' src='./images/musician.jpg').

				.trackListPanel
					.heading DISC NO:1
						ol.trackList
							li The Miracle (of Joey Ramone)
								span
									a(href="/lyrics/589") Lyrics
							li Every Breaking Wave
								span
									a(href="/lyrics/589") Lyrics
							li California (There is no End to Love)
								span
									a(href="/lyrics/589") Lyrics
							li Song for Someone
								span
									a(href="/lyrics/589") Lyrics
							li Iris (Hold Me Close)
								span
									a(href="/lyrics/589") Lyrics

					.heading DISC NO:2
						ol.trackList
							li Lucifer’s Hands
								span
									a(href="/lyrics/589") Lyrics
							li The Crystal Ballroom
								span
									a(href="/lyrics/589") Lyrics
							li Acoustic Sessions
								span
									a(href="/lyrics/589") Lyrics
							li The Troubles (Alternative Version)
								span
									a(href="/lyrics/589") Lyrics
							li Sleep Like A Baby Tonight (Alternative Perspective Mix by Tchad Blake)
								span
									a(href="/lyrics/589") Lyrics

			div.l-contentFooterContainer.contentFooterContainer
				div.footerPanel.footerPanel--links
					div.footerPanel__item.footerPanel__item--default
						ul
							li
								a(href="/help" target="") Help
							li
								a(href="/help" target="") Newsletter
							li
								a(href="/help" target="") Terms of Use
							li
								a(href="/help" target="") Privacy Policy
					div.footerPanel__item.footerPanel__item--copyright Copyright © 2017 This Web Site
