extends jade/includes/base

mixin paletteBlockBuilder ()
	for website in websites
		//- if website.siteId == 'newWorld'
		div.siteBlock
			h2.siteName= website.siteName
			a.siteLink(href='http://' + website.siteLink)= website.siteLink
			div.parent
				for block in website.colorPaletteBlocks
					div.paletteBlock
						div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')
							div= block.paletteInfo.colorValue
						div.paletteBlock__info
							div= block.paletteInfo.colorName
							div= block.paletteInfo.varName
						ul.paletteBlock__usage
							for uage in block.colorUage
								li= uage

block pageTitle
	title color palette

block bodyContent
	div.l-pageWrapper.pageWrapper
		div.l-pageHeader.pageHeader
			//- a.button(href="#")
			//- 	i.fa.fa-arrow-left
			div.title Color Palette
			//- a.button(href="#")
			//- 	i.fa.fa-arrow-right
			div.imageFrame
				img(alt='img' src='./images/color-palette.png').imageResponsive

		div.pageContent.pageContent
			+paletteBlockBuilder()

		div.pageFooter.pageFooter
			div
				span Site List Footer
