extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

mixin paletteBlockBuilder ()
	for website in websites
		//- if website.siteId == 'newWorld'
		div.siteBlock
			h2.siteName= website.siteName
			a.siteLink(href='http://' + website.siteLink)= website.siteLink
			div.parent
				for block in website.colorPaletteBlocks
					div.paletteBlock
						div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')
							div= block.paletteInfo.colorValue
						div.paletteBlock__info
							div= block.paletteInfo.colorName
							div= block.paletteInfo.varName
						ul.paletteBlock__usage
							for uage in block.colorUage
								li= uage

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer
					div.imageFrame
						img(alt='img' src='./images/site-logo.png').imageResponsive
					//- h4.title Great Books
				div.l-toggleMenuContainer.toggleMenuContainer
					a(href='#').js-toggleMobileMenu
						i.fa.fa-bars.fa-2x

			div.l-menuWrapper.menuWrapper
				div.l-menuContainer.menuContainer.js-mobileMenuContainer
					ul.menuList
						+menuItems('Home')
						li.menuItem
							a(href='#').currentSelection
								span Color Palette
						+menuItems('Typography', 'Text Styles', 'Breakpoints', 'Spacing', 'Buttons')

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentHeaderContainer.contentHeaderContainer
				div.l-header.header
					div.l-container
						span.title Color Palette
					div.l-container
						ul.l-breadCrumbs.breadCrumbs
							li
								a(href="#") Home
							li
								i.fa.fa-angle-right
							li
								a(href="#") Color Palette

			div.l-contentContainer.contentContainer
				+paletteBlockBuilder()

			div.l-footerContainer.footerContainer
				div
					span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolore

