extends jade/includes/base

mixin paletteBlockBuilder ()
	for website in websites
		if website.siteId == 'newWorld'
			for block in website.colorPaletteBlocks
				div.paletteBlock
					div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')
						div= block.paletteInfo.colorValue
					div.paletteBlock__info
						div= block.paletteInfo.colorName
						div= block.paletteInfo.varName
					ul.paletteBlock__usage
						for uage in block.colorUage
							li= uage

mixin siteFooterBuilder(siteId)
	for website in websites
		if website.siteId == siteId
			div.title
				a(href=website.siteLink)= website.siteName

block pageTitle
	title color palette

block bodyContent
	div.pageWrapper
		div.pageHeader
			//- a.button(href="#")
			//- 	i.fa.fa-arrow-left
			div.title Color Palette
			//- a.button(href="#")
			//- 	i.fa.fa-arrow-right

		div.pageContent
			+paletteBlockBuilder()

		div.pageFooter
			+siteFooterBuilder('newWorld')
