extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

mixin paletteBlockBuilder ()
	for website in websites
		div.siteBlock
			h2.siteName= website.siteName
			a.siteLink(href='http://' + website.siteLink)= website.siteLink
			div.l-paletteBlockContainer.paletteBlockContainer
				for block in website.colorPaletteBlocks
					div.l-paletteBlock.paletteBlock
						div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')
							div= block.paletteInfo.colorValue
						div.paletteBlock__info
							div= block.paletteInfo.colorName
							div= block.paletteInfo.varName
						ul.paletteBlock__usage
							for uage in block.colorUage
								li= uage

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer
					div
						svg(version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512")
							path(fill="#009cde" d="M399.798 8.104c-45.263 0-74.31-8.104-120.924-8.104-150.642 0-220.896 85.792-220.896 172.936 0 51.339 24.32 68.229 72.282 68.229-3.379-7.432-9.457-15.54-9.457-52.017 0-102.005 38.503-131.729 87.818-133.755 0 0-40.459 396.687-157.889 444.271v12.336h158.297l54.013-256h98.922l22.036-64h-107.454l25.972-123.095c29.723 6.078 58.771 12.158 83.766 12.158 31.074 0 59.447-9.457 74.984-81.063-18.913 6.080-39.181 8.104-61.47 8.104z")

				div.l-toggleMenuContainer.toggleMenuContainer
					a(href='#').js-toggleMobileMenu
						i.fa.fa-bars.fa-2x

			div.l-menuWrapper.menuWrapper.js-menuWrapper
				div.l-menuContainer.menuContainer.js-mobileMenuContainer
					ul.menuList
						+menuItems('Home')
						li.menuItem
							a(href='#').currentSelection
								span Color Palette
						+menuItems('Typography', 'Text Styles', 'Breakpoints', 'Buttons')

				div.l-searchContainer.searchContainer.js-showSearchPanel
					a.searchButton.searchButton--default
						i.fa.fa-search
				div.l-searchWrapper.searchWrapper.js-searchPanel
					form(action="#" method='post').l-searchWrapper__form
						a.searchButton.searchButton--whiteSquare
							i.fa.fa-search
						input(type="text" name="s" placeholder="Enter your search").searchInput
						a.closeButton.closeButton--dimmedSquare.js-hideSearchPanel
							i.fa.fa-close

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer.contentContainer--offerContent
				.headerPanel
					h1 JOIN MASTERSITE NOW
					h2 GET EXCLUSIVE ACCESS TO MSTERSITE TICKET PRESALES AND  MORE!
				.divider.divider--solid

				.offerPanel
					.imageFrame
						img(alt='img' src='./images/musician.jpg').imageResponsive

					.offerPanel__detail
						h2 PREMIUM MEMBERSHIP
						.offerPrice
							.offerPrice__amount $ 79
								span .99

						a(href="/subscribe/step1?sku=slafah13").purchaseButton SELECT

						ul.featureList
							li Access to exclusive NKOTB preferred ticket presales (4-ticket limit per show)
							li Soft 4'x5' NKOTB portrait blanket + 16 oz. copper plated Moscow Mule Mug
							li Subscription to NKOTB Newsletter
							li Access to Block Nation special events
							li Early access to NKOTB Cruise reservations
							li Members-only promotions and offers

			div.l-contentFooterContainer.contentFooterContainer
				div.footerPanel.footerPanel--links
					div.footerPanel__item.footerPanel__item--default
						ul
							li
								a(href="/help" target="") Help
							li
								a(href="/help" target="") Newsletter
							li
								a(href="/help" target="") Terms of Use
							li
								a(href="/help" target="") Privacy Policy
					div.footerPanel__item.footerPanel__item--copyright Copyright © 2017 This Web Site
